.paging-panel-container {
  width: 100%;
  display: flex;
  gap: 3px;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 4px;
  left: 50%;
  transform: translateX(-50%);

  &__numbers-section {
    padding: 0px 10px;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    text-decoration: none;
    list-style: none;
    margin: 0;
    &__element {
      &__page-number {
        display: block;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        border: 1px solid #000;
        border-radius: 50%;
        width: 22px;
        height: 22px;
        &--active {
          background-color: #8fcadd;

          &:hover {
            cursor: pointer;
          }
        }
        &:hover {
          cursor: pointer;
          background-color: #8fcadd;
        }
      }
    }
  }

  &__button {
    background-color: #fff;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
    border-radius: 50%;

    &:hover {
      cursor: pointer;
      background-color: #8fcadd;
    }
  }
}
