.users-table {
  color: #000;
  border-collapse: collapse;
  width: 100%;
  text-align: left;
  margin-top: 20px;

  &__header {
    background-color: #8fcadd;
  }

  &__body {
    &__row:nth-child(even) {
      background: #cbe6ef;
    }

    &__row:nth-child(odd) {
      background: #fff;
    }

    &__row:hover {
      background-color: #e11762;
    }
  }
}
