.table-users {
  color: #000;
  border-collapse: collapse;
  width: 100%;
  text-align: left;
  margin-top: 20px;

  .table-header {
    background-color: #8fcadd;
  }

  tbody {
    tr:nth-child(even) {
      background: #cbe6ef;
    }

    tr:nth-child(odd) {
      background: #fff;
    }

    .row:hover {
      background-color: #e11762;
    }
  }

  .tableCell,
  .headerCell {
    border: 1px solid #dddddd;
    padding: 8px;
  }

  .headerCell {
    font-weight: bold;
  }
}
