.sidebar-container {
  margin: 0;
  padding: 0;
  height: 100%;

  &__navigation {
    height: 100%;
  }
}
.navigation-list {
  text-decoration: none;
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: #fff;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 70%;
    text-decoration: none;

    &--active,
    &:hover {
      background-color: #cbe6ef;
      border-left: 10px solid #8fcadd;
    }
  }
}
