$light-green: #13e065;
$dark-green: #076914;
$light-red: #ee6767;
$dark-red: #e74949;
$dark-blue: #0575c0;
$border: #777;
$hover-border-color: #8fcadd;

h1,
h2,
h3,
h4,
h5,
h6,
label {
  color: #000;
}

a {
  text-decoration: none;
  color: #000;
}

.add-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $light-green;
  color: $dark-green;
  font-size: 50px;
  width: 10%;
  height: 35px;
  &:hover {
    background-color: darken($light-green, 5%);
    cursor: pointer;
  }
}

.add-btn--big {
  background-color: #fff;
  padding: 3px 10px;
  border: 1px solid $border;

  &:hover {
    cursor: pointer;
    background-color: $light-green;
  }
}

.cancel-btn {
  position: fixed;
  top: 0;
  right: 0;
  margin: 5px 5px 0px 0px;
  background-color: $light-red;
  padding: 3px 10px;

  &:hover {
    cursor: pointer;
    background-color: darken($dark-red, 5%);
  }
}
.remove-btn {
  background-color: #fff;
  padding: 3px 10px;
  border: 1px solid $border;

  &:hover {
    cursor: pointer;
    background-color: $light-red;
  }
}

.add-btn {
  width: 50px;
  background-color: $light-green;
  padding: 3px 10px;
  border: 1px solid $border;

  &:hover {
    cursor: pointer;
    background-color: darken($light-green, 5%);
  }
}

.input-container {
  display: flex;
  gap: 10px;
}

.input-style {
  border: 1px solid #000;
  border-radius: 5px;
}

.input-save {
  margin-right: 0 !important;
  background-color: #fff;
  padding: 3px 10px;
  border: 1px solid $border;

  &:hover {
    cursor: pointer;
    color: #fff;
    background-color: $dark-blue;
  }
}

.input-cancel {
  margin-left: 0 !important;
  background-color: #fff;
  padding: 3px 10px;
  border: 1px solid $border;

  &:hover {
    cursor: pointer;
    color: #fff;
    background-color: $light-red;
  }
}
